@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: white;
}

.purple_color{
  color: #360E91 ;
}


@media (max-width: 640px) {
  .AboutUsLogo{
    height: 28px !important;
  }
}

